sudo: false
language: python
cache:
  directories:
    - "$HOME/.cache/pip"
    - "$HOME/.cache/shuup/build_resources"
    - "$HOME/.nvm"
env:
  - DEBUG=1
python:
  - "2.7"
  - "3.4"
install:
  - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.0/install.sh | bash
  - source ~/.nvm/nvm.sh && nvm install 4
  - pip install -U pip setuptools
  - pip install shuup
  - pip install -r requirements-test.txt
script:
  - py.test -ra -vvv --nomigrations tests --cov
after_success: coveralls
